<h2>Registrar uma conta</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                label: "Primeiro nome",
                input_html: { autocomplete: "Nome" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                label: "Sobrenome",
                input_html: { autocomplete: "Sobrenome" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: "E-mail",
                input_html: { autocomplete: "E-mail" }%>
    <%= f.input :cpf,
                required: true,
                autofocus: true,
                label: "CPF",
                input_html: { autocomplete: "CPF" }%>
    <%= f.input :phone_number,
                required: true,
                autofocus: true,
                label: "Número de telefone",
                input_html: { autocomplete: "Telefone" }%>
    <%= f.input :password,
                required: true,
                label: "Senha",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "Senha" } %>
    <%= f.input :password_confirmation,
                required: true,
                label: "Confirme sua senha",
                input_html: { autocomplete: "Confirmação" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrar-se", class: "btn btn-warning"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
