<h1>Viagem para <%= @booking.offer.city %> se aproximando!!!</h1>
<p>O guia <strong><%= @booking.offer.user.first_name %></strong> estará com você
nos dias <%= @booking.date_start %> até <%= @booking.date_end %></p>
<p>Você comentou/solicitou o seguinte: <strong> "<%= @booking.special_request %></strong>"</p>
<%= link_to 'Veja outras ofertas de viagem', offers_path, class: 'btn btn-warning' %>
<%= link_to 'Altere este agendamento',  edit_offer_booking_path(@booking.offer, @booking), class: 'btn btn-warning' %>
<%= link_to 'Cancelar um agendamento',  booking_path(@booking),
    method: :delete,
    data: { confirm: 'Você está certo disto?' }, class: 'btn btn-warning' %>