<h1>Localidades com ofertas turísticas</h1>
<div class="row">
  <div class="col-12 col-md-6">
    <h3>Ofertas disponíveis</h3>
    <div class="card">
      <ul class="list-group list-group-flush">
        <% @offers.each do |offer| %>
          <li class="list-group-item">
            <p>
              <%= link_to '<i class="fas fa-calendar-alt"></i> Book!'.html_safe,
                    offer_path(offer),
                    class: 'btn btn-primary' %>
              <%= link_to offer.city, offer_path(offer), class: 'btn btn-link btn-sm' %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <h3>Minhas ofertas</h3>
    <div class="card">
      <ul class="list-group list-group-flush">
        <% if @myoffers.count > 0 %>
          <% @myoffers.each do |myoffer| %>
            <li class="list-group-item <%= myoffer.active? ? '' : 'text-muted' %>">
              <p>
                <%= link_to '<i class="fas fa-pencil-alt"></i> Editar'.html_safe, edit_offer_path(myoffer), class: 'btn btn-info' %>
                <%= link_to myoffer.city, offer_path(myoffer), class: 'btn btn-link btn-sm' %>
              </p>
              <p><%= myoffer.bookings.count %> agendamento<%= 's' if myoffer.bookings.count > 1 %></p>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item">
            <p>Você ainda não criou uma oferta.</p>
            <p> <%= link_to 'Criar oferta como guia', new_offer_path, class: 'btn btn-warning' %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
