
<h1><%= @offer.city %></h1>
<p><%= @offer.description %></p>
<%# Mostrar botão para o guia %>
<% if @offer.user == current_user %>
  <%# Mostra agendamendos da oferta %>
  <h2>Agendamentos</h2>
  
  <% @bookings.each do |booking| %>
    <% if booking.date_start == Date.today %>
      <h3>Hoje</h3>
      <span>Até <%= booking.date_end %> com <%= booking.user.first_name%> Tel: <%= booking.user.phone_number %></span>
      <p>Detalhes: <%= booking.special_request %></p><br>
    <% elsif booking.date_start > Date.today %>
      <h3><%= booking.date_start %></h3>
      <span>Até <%= booking.date_end %> com <%= booking.user.first_name%> Tel: <%= booking.user.phone_number %></span>
      <p>Detalhes: <%= booking.special_request %></p><br>
    <% end %>
  <% end %>
  <%= link_to 'Alterar oferta', edit_offer_path(@offer) %>
  <% if @offer.active %>
    <%= link_to 'Desativar oferta', offer_path(@offer.id), method: :delete, data: { confirm: "Está certo disto?" } %>
  <% else %>
    <%= link_to 'Ativar oferta', offer_path(@offer.id), method: :delete, data: { confirm: "Está certo disto?" } %>
  <% end %>

<%# Mostrar botão para o turista %>
<% else %>
  <%= link_to 'Agendar', new_offer_booking_path(@offer) %>
<% end %>
